body {
    font-family: 'Open Sans', sans-serif;
}


nav {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.portfolio {
    color: var(--Dark-01, #181818);
    font-family: Open Sans;
    font-size: 45px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

nav ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin-right: 50px;
}

nav a {
    text-decoration: none;
    color: #474747;
}

.btn {
    border-radius: 5px;
    background: #FD6E0A;
    border: 0;
    color: white;
    font-size: 20px;
    font-weight: 700;
    padding: 15px 35px  ;
}